---
import { Image } from "astro:assets";
import ImageTooltip from "@/components/ImageTooltip.astro";
import hombro from "@/assets/images/tattoo-killer-hombro.jpg";
import brazo from "@/assets/images/tattoo-killer-brazo.jpg";
import brazo2 from "@/assets/images/tattoo-killer-brazo2.jpg";
import muneca from "@/assets/images/tattoo-killer-muneca.jpg";
import tobillo from "@/assets/images/tattoo-killer-tobillo.jpg";
import codo from "@/assets/images/tattoo-killer-codo.jpg";
---

<div class="hidden lg:block">
  <!-- TOP LEFT -->
  <div class="tooltip absolute top-[-10%] left-[-5%] -rotate-3">
    <ImageTooltip sessions={5} color="blue">
      <Image src={hombro} alt="Eliminación de tatuajes" width={120} />
    </ImageTooltip>
  </div>

  <!-- MID RIGHT -->
  <div class="tooltip absolute top-[45%] right-[-15%] -rotate-6">
    <ImageTooltip sessions={5} color="pink">
      <Image src={brazo} alt="Eliminación de tatuajes" width={120} />
    </ImageTooltip>
  </div>

  <!-- TOP RIGHT -->
  <div class="tooltip absolute top-[-5%] right-[0%] rotate-6">
    <ImageTooltip sessions={7} color="yellow">
      <Image src={brazo2} alt="Eliminación de tatuajes" width={120} />
    </ImageTooltip>
  </div>

  <!-- MID LEFT -->
  <div class="tooltip absolute top-[45%] left-[-15%] rotate-3">
    <ImageTooltip sessions={5} color="pink">
      <Image src={muneca} alt="Eliminación de tatuajes" width={120} />
    </ImageTooltip>
  </div>

  <!-- BOT RIGHT -->
  <div class="tooltip absolute top-[100%] right-[0%] rotate-3">
    <ImageTooltip sessions={5} color="blue">
      <Image src={tobillo} alt="Eliminación de tatuajes" width={120} />
    </ImageTooltip>
  </div>

  <!-- BOT LEFT -->
  <div class="tooltip absolute top-[95%] left-[-5%] -rotate-6">
    <ImageTooltip sessions={7} color="yellow">
      <Image src={codo} alt="Eliminación de tatuajes" width={120} />
    </ImageTooltip>
  </div>
</div>

<script>
  const tooltips = document.querySelectorAll(".tooltip figcaption");
  const duration = 2000;
  const delay = 1.25;
  const length = tooltips.length;

  function wiggleTooltip() {
    tooltips.forEach((tooltip, i) => {
      setTimeout(
        () => {
          tooltip.classList.remove("lg:opacity-0");

          setTimeout(() => {
            tooltip.classList.add("lg:opacity-0");
          }, duration);
        },
        duration * i * delay,
      );
    });
  }

  wiggleTooltip();
  setInterval(() => wiggleTooltip(), length * duration * delay);
</script>
